div.backGround{
  background-image:url("Images/city_wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat:
}

.jumbotron {
  background-color:rgba(249,249,249, 0.8) !important;
}
